/vendor/
/composer.lock
/.phpunit.cache/
/.phpunit-tia/
/.phpunit.result.cache

tests/fixture-app/vendor/
tests/fixture-app/composer.lock
tests/fixture-app/.phpunit.cache/
tests/fixture-app/.phpunit-tia/
tests/fixture-app/.phpunit.result.cache
